.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.themeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 48px !important;
  height: 48px;
}