.content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 350px; 
  gap: 20px;
}

.listWrapper {
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .formWrapper {
    flex: 1;
    width: 100%;
  }
}